<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>MLO Accounting App</title>
    <meta name="author" content="Daniel Benedict L. Omoto">
    <meta name="description" content="accounting app">
    <meta name="keywords" content="accounting, app, tool,">
    <link rel="stylesheet" href="/public/addclient/addclient.css" type="text/css">
  </head>
  <body>

    <h1>add client here</h1>
    
  </body>
  <script src="/public/addclient/addclient.js"></script>
</html>  