<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>MLO Accounting App</title>
    <meta name="author" content="Daniel Benedict L. Omoto">
    <meta name="description" content="accounting app">
    <meta name="keywords" content="accounting, app, tool,">
    <link rel="stylesheet" href="/cside/gridjs/dist/theme/mermaid.css" type="text/css">
    <link rel="stylesheet" href="/public/addclient/addclient.css" type="text/css">
  </head>
  <body>

      <form id="formData" name="formData">
        <p>CLIENT DATA</p>
        <label for="indexNumber">Index Number</label><br>
        <input type="text" id="indexNumber" name="indexNumber" placeholder="47"><br>
        <label for="firstName">First Name</label><br>
        <input type="text" id="firstName" name="firstName" placeholder="Daniel"><br>
        <label for="lastName">Last Name</label><br>
        <input type="text" id="lastName" name="lastName" placeholder="Omoto"><br>         
        <label for="companyName">Company Name</label><br>
        <input type="text" id="companyName" name="companyName" placeholder="DBOmoto Web Dev"><br>            
        <input type="submit" value="Add Client" id="addClient">
        <br>
        <input type="reset">
      </form>
        
      <!-- <br>
      <p>Server Response</p>
      <div id="serverResponse"></div> -->

      <!-- display here all clients currently on the database; command to edit is present on the table; editting will be dispayed on the modal -->      
      <div id="clientDataContainer">
        <div id="clientData"></div>
      </div>

    <!-- MODAL SECTION -->
    <div class="modal-container toggleDisplayModal" id="modal-container">
      <input id="modal-toggle" type="checkbox" onchange="displayModal()">
      <div class="modal-backdrop">
        <div class="modal-content">
          <label class="modal-close" for="modal-toggle">x</label>
          <h2 id="modalTitle">Modal title</h2>
          <hr />
          <p id="modalContent">Modal Content</p>
          <!-- <label class="modal-close button" for="modal-toggle">CLOSE</label>
          <label class="modal-close button2" for="modal-toggle" onclick="editProfFeeRec()">UPDATE</label> -->
        </div>
      </div>
    </div>
    
  </body>
  <script src="/cside/gridjs/dist/gridjs.umd.js"></script>
  <script src="/public/addclient/addclient.js"></script>
</html>  