<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>MLO Accounting App</title>
    <meta name="author" content="Daniel Benedict L. Omoto">
    <meta name="description" content="accounting app">
    <meta name="keywords" content="accounting, app, tool,">
    <link rel="stylesheet" href="/public/client/client.css" type="text/css">
    <!-- <script src="/public/homepage/index.js"></script> -->
  </head>
  <body>
    <!-- SEARCH FORM -->
    <div id="searchForm">
      <form id="formData" name="formData">
        <label for="indexNumber">Index Number</label><br>
        <input type="text" id="indexNumber" name="indexNumber" placeholder="47"><br>
        <label for="firstName">First Name</label><br>
        <input type="text" id="firstName" name="firstName" placeholder="Daniel"><br>
        <label for="lastName">Last Name</label><br>
        <input type="text" id="lastName" name="lastName" placeholder="Omoto"><br>          
        <label for="companyName">Company Name</label><br>
        <input type="text" id="companyName" name="companyName" placeholder="DBOmoto Web Dev"><br>
        <label for="info"></label>
        <select name="info" id="info">
          <option name="allRecords" selected>All Records</option>
          <option name="professioanlFee">Professional Fee</option>     
        </select>
        <br>
        <input type="submit" value="Search" id="submitSearch">  
        <br>
        <input type="reset">
      </form>
    </div>

    <!-- CLIENT DATA -->
    <!-- table will adpat to what kind of "info" input is chosen -->
    <div id="dataOutput">
      <table>
        <!-- change caption to what the user selects in the "info" input-->
        <caption>SAMPLE OUTPUT</caption>
        <tr>
          <th></th>
          <th>January</th>
          <th>February</th>
          <th>And so on</th>
        </tr>
        <tr>
          <th>Client 1</th>
          <td>1000</td>
          <td>2000</td>
          <td>And so on</td>
        </tr>
      </table>
    </div>
    
    <!-- SUMMARY -->
    <!-- summary will adapt depending on what "info" input is chosen -->
    <div id="summary">
      <h4>Total Collectible</h4>
      <p>3000</p>
      <h4>Clients with balance</h4>
      <p>Summarize clients with with their total</p>
    </div>

  </body>
  <script src="/public/client/client.js"></script>
</html>

