<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>MLO Accounting App</title>
    <meta name="author" content="Daniel Benedict L. Omoto">
    <meta name="description" content="accounting app">
    <meta name="keywords" content="accounting, app, tool,">
    <link rel="stylesheet" href="/cside/gridjs/dist/theme/mermaid.css" type="text/css">   
    <link rel="stylesheet" href="/public/printpage/print.css" type="text/css">
    <link rel="stylesheet" href="/public/client/client.css" type="text/css">
    <!-- <script src="/public/homepage/index.js"></script> -->
  </head>
  <body>

    <!-- SEARCH FORM -->
    <div id="searchForm">
      <form id="formData" name="formData">
        <label for="indexNumber">Index Number</label><br>
        <input type="text" id="indexNumber" name="indexNumber" placeholder="47"><br>
        <label for="firstName">First Name</label><br>
        <input type="text" id="firstName" name="firstName" placeholder="Daniel"><br>
        <label for="lastName">Last Name</label><br>
        <input type="text" id="lastName" name="lastName" placeholder="Omoto"><br>          
        <label for="companyName">Company Name</label><br>
        <input type="text" id="companyName" name="companyName" placeholder="DBOmoto Web Dev"><br>
        <label for="info"></label>
        <select name="info" id="info">
          <option name="allRecords" selected>All Records</option>
          <option name="professioanlFee">Professional Fee</option>     
        </select>
        <br>
        <input type="submit" value="Search" id="submitSearch">  
        <br>
        <input type="reset">
      </form>
    </div>

    <!-- CLIENT DATA -->
    <div id="dataOutputCaption"></div>
    <!-- table will adpat to what kind of "info" input is chosen -->
    <div id="dataOutput">
      <div id="dataOutputContent"></div>
    </div>
    
    <!-- SUMMARY -->
    <!-- summary will adapt depending on what "info" input is chosen -->
    <h4>Clients with balance</h4>
    <!-- div must be empty in order for gridjs to work -->
    <div id="summaryWrapper">
      <div id="summary"></div>
    </div>

    <!-- MODAL SECTION -->
    <div class="modal-container toggleDisplayModal" id="modal-container">
      <input id="modal-toggle" type="checkbox" onchange="displayModal()">
      <div class="modal-backdrop">
        <div class="modal-content">
          <label class="modal-close" for="modal-toggle">x</label>
          <h2 id="modalTitle">Modal title</h2>
          <hr />
          <p id="modalContent">Modal Content</p>
          <!-- <label class="modal-close button" for="modal-toggle">CLOSE</label>
          <label class="modal-close button2" for="modal-toggle" onclick="editProfFeeRec()">UPDATE</label> -->
        </div>
      </div>
    </div>
    

  </body>
  <script src="/cside/gridjs/dist/gridjs.umd.js"></script>  
  <script src="/public/client/client.js"></script>
</html>

