<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>MLO Accounting App</title>
    <meta name="author" content="Daniel Benedict L. Omoto">
    <meta name="description" content="accounting app">
    <meta name="keywords" content="accounting, app, tool,">
    <link rel="stylesheet" href="/public/homepage/homepage.css" type="text/css">
  </head>
  <body>

    <button id="searchClient">SEARCH CLIENT</button>
    <br>
    <button id="addClient">ADD CLIENT</button>
    
  </body>
  <script src="/public/homepage/homepage.js"></script>
</html>  