<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>MLO Accounting App</title>
    <meta name="author" content="Daniel Benedict L. Omoto">
    <meta name="description" content="accounting app">
    <meta name="keywords" content="accounting, app, tool,">
    <link rel="stylesheet" href="/public/homepage/index.css" type="text/css">
  </head>
  <body>

    <!-- SEARCH FORM -->
    <div>
      <form>
        <label for="indexNumber">Index Number</label><br>
        <input type="text" id="indexNumber" name="indexNumber"><br>
        <label for="clientName">Client Name</label><br>
        <input type="text" id="clientName" name="clientName"><br> 
        <label for="companyName">Company Name</label><br>
        <input type="text" id="companyName" name="companyName"><br>
        <input type="submit" value="Search">   
      </form>
    </div>

    

  </body>
</html>

